#root {
  width: 100vw;
  margin: 0;
  border: 0;
  height: 100vh;
  font-family: "inter";
}

.intro-container {
  position: fixed;
  top: 200px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 99;
  height: 40%;
  width: 100%;
}

.intro-content {
  color: white;
  background: rgb(0, 0, 0);
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  width: 80%;
  max-width: 800px; /* Set a width */
  margin: auto; /* Center the content */
}

.text-container {
  max-height: 400px; /* Set a fixed height */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px; /* Add some padding */
  border: 1px solid #292929; /* Add a border */
  margin-bottom: 20px; /* Add some margin below the text container */
  border-radius: 20px;
}

.loading-bar {
  width: 0;
  height: 10px;
  background-color: #3498db;
  border-radius: 5px;
  transition: width 0.3s ease;
}
