/* StatisticsContainer.css */
.statistics-container {
  position: fixed;
  top: 100px;
  left: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  align-items: space-between;
  justify-content: space-between;
  z-index: 90;
}
